{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "semi": false,
        "singleQuote": true,
        "quoteProps": "preserve",
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": false,
        "withNodeModules": true
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
